<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statistik</title>
    <%-include('partials/favicon'); %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/footer.css"> 
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">


    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>

    <%-include('partials/header'); -%>

    <style>
        .accordion-body {
            max-height: 300px; /* Adjust the height as needed */
            overflow-y: auto;
        }
    </style>

    <div class="container my-4">
        <nav aria-label="breadcrumb" class="small">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/"><i class="fa-solid fa-house me-1"></i>Beranda</a></li>
                <!-- <li class="breadcrumb-item"><a href="#">Data</a></li> -->
                <li class="breadcrumb-item active" aria-current="page">Statistik</li>
            </ol>
        </nav>
        <hr>

        <h2 class="text-center mb-4">Statistik</h2>
        <div class="row ">
            
            <div class="col-lg-6 mb-4 ">
                <%-include('stats/stats_jeniskelamin'); %>

                
                <div class="accordion" id="accordionJKelamin">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingJenisKelamin">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseJenisKelamin" aria-expanded="true" aria-controls="collapseOne">
                                Informasi Jenis Kelamin
                            </button>
                        </h2>
                        <div id="collapseJenisKelamin" class="accordion-collapse collapse show" aria-labelledby="headingJenisKelamin" data-bs-parent="#accordionJKelamin">
                            <div class="accordion-body">
                                <p>Jenis Kelamin:</p>
                                <ul>
                                    <li class="nav-item">Laki-Laki : <%= totalWargaLakiLaki %></li>
                                    <li class="nav-item">Perempuan : <%= totalWargaPerempuan %></li>
                                </ul>
                                <p>Total Keseluruhan : <%= totalWarga %></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 ">
                <%-include('stats/stats_perkawinan'); %>

                <div class="accordion" id="accordionPerkawinan">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingPerkawinan">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePerkawinan" aria-expanded="true" aria-controls="collapsePerkawinan">
                          Informasi Status Perkawinan
                        </button>
                      </h2>
                      <div id="collapsePerkawinan" class="accordion-collapse collapse show" aria-labelledby="headingPerkawinan" data-bs-parent="#accordionPerkawinan">
                        <div class="accordion-body">
                          <ol id="perkawinanList" class="list-group list-group-numbered">
                            <!-- Data status perkawinan akan dimuat di sini -->
                          </ol>
                        </div>
                      </div>
                    </div>
                </div>
            </div>

            <hr>

            <div class="col-lg-6 ">
                <%-include('stats/stats_pendidikan'); %>

                <div class="accordion" id="accordionPendidikan">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingPendidikan">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePendidikan" aria-expanded="true" aria-controls="collapsePendidikan">
                          Informasi Pendidikan
                        </button>
                      </h2>
                      <div id="collapsePendidikan" class="accordion-collapse collapse show" aria-labelledby="headingPendidikan" data-bs-parent="#accordionPendidikan">
                        <div class="accordion-body">
                          <ol id="pendidikanList" class="list-group list-group-numbered">
                            <!-- Data pendidikan akan dimuat di sini -->
                          </ol>
                        </div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 ">
                <%-include('stats/stats_pekerjaan'); %>

                <div class="accordion" id="accordionPekerjaan">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingPekerjaan">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePekerjaan" aria-expanded="true" aria-controls="collapsePekerjaan">
                                Informasi Pekerjaan
                            </button>
                        </h2>
                        <div id="collapsePekerjaan" class="accordion-collapse collapse show" aria-labelledby="headingPekerjaan" data-bs-parent="#accordionPekerjaan">
                            <div class="accordion-body">
                                <ol id="pekerjaanList" class="list-group list-group-numbered">
                                    <!-- Data pekerjaan akan dimuat di sini -->
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', async () => {
          const response = await fetch('/pekerjaan_gender'); // Ganti dengan URL endpoint Anda
          const data = await response.json();
          const pekerjaanList = document.getElementById('pekerjaanList');
    
          for (const [key, value] of Object.entries(data)) {
            const li = document.createElement('li');
            li.className = 'list-group-item';
            li.innerHTML = `
              ${key.charAt(0).toUpperCase() + key.slice(1).replace(/([A-Z])/g, ' $1')}: 
              <ul>
                <li class="nav-item">Laki-Laki: ${value.lakiLaki}</li>
                <li class="nav-item">Perempuan: ${value.perempuan}</li>
              </ul>
              <p>Total Keseluruhan: ${value.total}</p>
            `;
            pekerjaanList.appendChild(li);
          }
        });
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', async () => {
        const response = await fetch('/perkawinan_gender'); // Ganti dengan URL endpoint Anda
        const data = await response.json();
        const perkawinanList = document.getElementById('perkawinanList');

        for (const [key, value] of Object.entries(data)) {
            const li = document.createElement('li');
            li.className = 'list-group-item';
            li.innerHTML = `
            ${key.charAt(0).toUpperCase() + key.slice(1).replace(/([A-Z])/g, ' $1')}: 
            <ul>
                <li class="nav-item">Laki-Laki: ${value.lakiLaki}</li>
                <li class="nav-item">Perempuan: ${value.perempuan}</li>
            </ul>
            <p>Total Keseluruhan: ${value.total}</p>
            `;
            perkawinanList.appendChild(li);
        }
        });
    </script>

<script>
    document.addEventListener('DOMContentLoaded', async () => {
      const response = await fetch('/pendidikan_gender'); // Ganti dengan URL endpoint Anda
      const data = await response.json();
      const pendidikanList = document.getElementById('pendidikanList');

      for (const [key, value] of Object.entries(data)) {
        const li = document.createElement('li');
        li.className = 'list-group-item';
        li.innerHTML = `
          ${key}: 
          <ul>
            <li class="nav-item">Laki-Laki: ${value.lakiLaki}</li>
            <li class="nav-item">Perempuan: ${value.perempuan}</li>
          </ul>
          <p>Total Keseluruhan: ${value.total}</p>
        `;
        pendidikanList.appendChild(li);
      }
    });
  </script>

    
    <%-include('partials/footer'); -%>
    <%-include('partials/scrollUp'); -%>   

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>